.footer{
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 2px dashed gray;
}

.link{
    margin: 0px;
    font-size: 20px;
    text-decoration: none;
    color: grey;
}