.header {
  display: flex;
  align-items: center;
  height: 100%;
}

.title {
  margin-left: 15px;
  font-size: 28px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}

.title:hover {
  color: white;
}

.logout-form {
  margin-left: 10px;
  margin-right: 10px;
}

.add-div {
  margin-left: auto;
}
.btn{
  background-color: transparent;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
  padding: 10px 15px;
}

.logout:hover {
  background-color: red;
}

.add:hover{
  background-color: green;
}