body {
  margin: 0px;
  background-color: #3d48d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f82ea'/%3E%3Cstop offset='1' stop-color='%235f82ea' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f94d8'/%3E%3Cstop offset='1' stop-color='%235f94d8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2381c1e9'/%3E%3Cstop offset='1' stop-color='%2381c1e9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233D48D9'/%3E%3Cstop offset='1' stop-color='%233D48D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2386B6F6'/%3E%3Cstop offset='1' stop-color='%2386B6F6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237FC7D9'/%3E%3Cstop offset='1' stop-color='%237FC7D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body * {
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 50px auto 30px;
}

/* todo styling */
.todo-page{
  margin: 0px 7%;
  display: flex;
  align-items:flex-start;
  flex-wrap: wrap;
}

.add-day{
  background-color: green;
}

.add-text-area{
  resize: none;
  width: 100%;
  font-size: 35px;
  border: none;
  background-color: transparent;
  text-align: center; 
  margin: 12.5px 0px;
}
.add-text-area:focus{
  outline: none;
}
.add-post:hover,.check:hover{
  background-color: green;
}

/* empty page */
.alert-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert {
  font-size: 35px;
  color: whitesmoke;
  font-weight: 500;
}

/* get-post*/
.to-do-div{
  display: inline-block;
  margin: 15px;
  width: 400px;
  min-height: 400px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");

}
.to-do-day {
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  background-color: #3d48d9;
}
.to-do{
  margin: 15px 0px;
  display: flex;
  align-items: center;
}
.to-do-title{
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  margin-left: 10px;
}
.check-form{
  margin-right: 10px;
}
.delete-form{
  margin-left: auto;
  margin-right: 10px;
}
.todo-btn {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  padding: 5px 15px;
  color: grey;
  border: 1px solid grey;
  background-color: transparent;
}
.todo-btn:hover {
  background-color: red;
  color: whitesmoke;
  border: 1px solid transparent;
}
.check:hover{
  background-color: green;
}

/* add todo to form */
.to-do-add{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0.3;
  margin-bottom: 15px;
}
.to-do-date{
  background-color: transparent;
  flex:100%;
  height: 40px;
  margin: 10px;
}
.to-do-add:hover,.to-do-add:focus{
  opacity: 1;
}
.to-do-add-text{
  width: 250px;
  margin-left: 10px;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-size: 25px;
}
.to-do-add-text:focus{
  outline: none;
}
.add-in{
  width: 70px;
  padding:5px 0px;
  margin-right: 10px;
}

.add-in:hover{
  background-color: green;
}
.new{
  border: 5px solid yellow;
}
