:root {
  --background: rgba(0, 0, 0, 0.5);
  --text: whitesmoke;
  --login: #1e90ff;
  --register: orangered;
  --hover: #FF9843;
}
body {
  margin: 0px;
  background-image: url("../img/background.png");
}

body * {
  font-size: 28px;
  font-family: sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.login {
  background-color: var(--background);
  display: inline-block;
  padding: 25px 50px 15px 50px;
  border-radius: 25px;
  margin: 25px;
}

.login-part {
  margin: 25px 0px;
}

.input {
  border: none;
  background-color: transparent;
  color: var(--text);
  border-bottom: 2px solid var(--text);
}

.input::placeholder {
  color: var(--text);
}

.input:focus {
  outline: none;
}

.reg-link {
  font-size: 20px;
  color: var(--text);
  text-decoration: none;
}

.btn {
  color: var(--text);
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}

.log{
    background-color: var(--login);
}

.reg{
    background-color: var(--register);
}

a.reg-link:hover, .btn:hover {
    color: var(--hover);
}


