:root {
  --background: rgba(0, 0, 0, 0.5);
  --text: whitesmoke;
  --login: #1e90ff;
  --register: orangered;
  --hover: #FF9843;
}
body {
  margin: 0px;
  background-color: #3d48d9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f82ea'/%3E%3Cstop offset='1' stop-color='%235f82ea' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235f94d8'/%3E%3Cstop offset='1' stop-color='%235f94d8' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2381c1e9'/%3E%3Cstop offset='1' stop-color='%2381c1e9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%233D48D9'/%3E%3Cstop offset='1' stop-color='%233D48D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2386B6F6'/%3E%3Cstop offset='1' stop-color='%2386B6F6' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237FC7D9'/%3E%3Cstop offset='1' stop-color='%237FC7D9' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body * {
  font-size: 28px;
  font-family: sans-serif;
}

p {
  margin: 0px;
  padding: 0px;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.login {
  background-color: var(--background);
  display: inline-block;
  padding: 25px 50px 15px 50px;
  border-radius: 25px;
  margin: 25px;
}

.login-part {
  margin: 25px 0px;
}

.input {
  border: none;
  background-color: transparent;
  color: var(--text);
  border-bottom: 2px solid var(--text);
}

.input::placeholder {
  color: var(--text);
}

.input:focus {
  outline: none;
}

.reg-link {
  font-size: 20px;
  color: var(--text);
  text-decoration: none;
}

.btn {
  color: var(--text);
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
}

.log{
    background-color: var(--login);
}

.reg{
    background-color: var(--register);
}

a.reg-link:hover, .btn:hover {
    color: var(--hover);
}

.error{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  color: red;
}


