.day {
  width: 100%;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  color: whitesmoke;
  font-weight: 600;
  background-color: #3d48d9;
}
.element {
  width: 300px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper.png");
  border: 1px solid black;
  margin: 15px;
}
.note {
  font-size: 20px;
  font-weight: 600;
}
.todo-btns {
  display: flex;
  justify-content: space-around;
  width: 95%;
}
.todo-btn {
  font-size: 25px;
  font-weight: 600;
  padding: 5px 15px;
  color: grey;
  border: 1px solid grey;
  background-color: transparent;
  margin-bottom: 10px;
}
.todo-btn:hover {
  background-color: red;
  color: whitesmoke;
  border: 1px solid transparent;
}
.add-post:hover,
.check:hover {
  background-color: green;
}

.todo-form {
  width: 300px;
  display: flex;
}
