:root{
    --main-color: #0766AD;
    --secondary-color: #9EB8D9;
}
body{
    background-color: #EEF5FF;
    
}
body *{
    font-family:sans-serif;
    font-size: 35px;
}
.box {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
.grid-container{
    display: grid;
    min-width: 550px;
    width: 30%;
    grid-template-rows: auto auto auto auto auto;
    padding: 10px;
    gap: 15px;
    background-color: var(--secondary-color);
    border: solid var(--main-color) 1px;
    border-radius: 5px;

}
select{
    background-color: #EEF5FF;
    color: black;
    border: none;
    height: 100%;
    width: 35%;
}
::placeholder {
    color: black;
  }
.one{
    display: flex;
    justify-content: left;
    height: 60px;
}
.one > input{
 width: 100%;
}
.two{
    display: flex;
    justify-content: space-between;
    height: 60px;
}
.two > input{
    width: 100%;
}

input{
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: transparent;
    background-color:#EEF5FF;
    text-indent: 5px;
}
.titl{
    width: 100%;
}
.three{
    height: 40px;
    
}
.three >p{
    margin: 0px;
}
.reg{
    text-decoration: none;
    color: black;
}
a:hover{
    color: grey;
}
.four{
    display: flex;
    justify-content: left;
}
.btn{
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: var(--main-color);
    border: none;
    color: white;
    margin-right: 20px;
}
.google{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DB4437;
    border-radius: 20px;
    padding: 5px;
}
a{
    color: white;
    text-decoration: none;
}
img{
    width: 40px;
    margin-left: 5px;
}
.green{
    background-color: #23ad07;
}
.link{
    width: 130px;
    height: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.four input:hover{
    color: #DED0B6;
}

@media only screen and (max-width: 600px) {
    .grid-container {
        width: 99%;
    }

}